body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #490000;
}

h1 {
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

footer a {
    text-decoration: none;
    color: #2196F3;
}

footer a:hover {
    color: #9fd4ff;
}
